.main-box-lpst
{
 border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

h1
{
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;	
}

.breadcrumb
{
text-shadow: 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white, 0 0 0.1px white;

}